@import './core/variables.scss';
@import './core/reset.scss';
.about {
    background: $Borders no-repeat center / cover fixed;
    width: 100%;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    @media all and (min-width: 768px) {
        width: 100%;
    }
    @media all and (min-width: 1024px) {}
}

.line-menu-about {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 6px;
}

.burger-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @media all and (min-width: 768px) {
        display: none;
    }
    &__landing {
        border-top: white 3px solid;
        border-bottom: white 3px solid;
        color: white;
        font-family: $Font-secundary;
    }
    &__ux {
        border-bottom: white 3px solid;
        color: white;
        font-family: $Font-secundary;
    }
    &__front {
        border-bottom: white 3px solid;
        color: white;
        font-family: $Font-secundary;
    }
    &__about {
        border-bottom: white 3px solid;
        color: black;
        font-family: $Font-secundary;
    }
}

.close {
    display: none;
}

.wrapper-menu {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
    @media all and (min-width: 768px) {
        display: none;
    }
}

.line-menu-about {
    background-color: $Background-color;
    border-radius: 5px;
    width: 100%;
    height: 6px;
}

.half {
    width: 50%;
}

.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}

.top {
    transform: rotate(-90deg) translateX(3px);
}

.middle {
    transform: rotate(-45deg);
}

.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

.bottom {
    transform: rotate(-90deg) translateX(-3px);
}

.about-header {
    height: 35px;
    display: none;
    margin-left: 22px;
    @media all and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: flex-end;
    }
    &__landing {
        color: $Background-color;
        font-family: $Font-secundary;
        padding: 20px;
    }
    &__ux {
        color: $Background-color;
        font-family: $Font-secundary;
        padding: 20px;
    }
    &__front {
        color: $Background-color;
        font-family: $Font-secundary;
        padding: 20px;
    }
    &__about {
        color: rgb(31, 31, 31);
        font-family: $Font-secundary;
        padding: 20px;
    }
}

.photo {
    top: 37%;
    margin-top: 100px;
    display: block;
    @media all and (min-width: 768px) {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 30%;
        margin-top: 30px;
    }
    @media all and (min-width: 1024px) {
        top: 50%;
        margin-top: 100px;
    }
}

.photo img {
    width: 320px;
    height: 300px;
    object-fit: cover;
    filter: grayscale(100%) contrast(120%);
    box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, .2);
    @media all and (min-width: 768px) {
        width: 400px;
    }
    @media all and (min-width: 1024px) {
        margin-top: -10px;
        display: block;
        height: 480px;
        transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
}

.photo:hover img {
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
}

.photo .glow-wrap {
    @media all and (min-width: 768px) {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        margin-top: -10px;
    }
}

.photo .glow {
    @media all and (min-width: 768px) {
        display: block;
        position: absolute;
        width: 40%;
        height: 200%;
        background: rgba(255, 255, 255, .2);
        top: 0;
        filter: blur(5px);
        transform: rotate(45deg) translate(-450%, 0);
        transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
}

.photo:hover .glow {
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap {
    margin-top: 0;
}

.title {
    position: absolute;
    z-index: 1;
    transform: translate(-15px, -50px);
    font-family: $Font-secundary;
    font-weight: 600;
    font-size: 40px;
    color: white;
    @media all and (min-width: 768px) {
        z-index: -1;
        transform: translate(-85px, -63px);
        font-size: 60px;
    }
    @media all and (min-width: 1024px) {}
}

.subtitle {
    position: absolute;
    z-index: 1;
    transform: translate(55px, 300px);
    font-family: $Font-secundary;
    font-weight: 600;
    font-size: 40px;
    color: $Background-color;
    margin: 0;
    @media all and (min-width: 768px) {
        font-size: 60px;
    }
    @media all and (min-width: 1024px) {
        transform: translate(370px, 300px);
        font-size: 50px;
    }
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media all and (min-width: 768px) {
        margin-top: 550px;
        margin-top: 600px;
        margin-bottom: 200px;
    }
    @media all and (min-width: 1024px) {}
    &__paragraph {
        text-align: center;
        font-family: $Font-secundary;
        font-weight: 600;
        font-size: 35px;
        color: white;
        @media all and (min-width: 768px) {
            font-size: 55px;
        }
        @media all and (min-width: 1024px) {}
    }
    &__article {
        margin-top: 100px;
        @media all and (min-width: 768px) {
            margin-top: 30px;
        }
        &--paragraph {
            margin: auto;
            width: 300px;
            font-family: $Font-secundary;
            font-size: 20px;
            font-weight: 600;
            color: white;
            padding-bottom: 20px;
            @media all and (min-width: 768px) {
                width: 400px;
            }
            @media all and (min-width: 1024px) {
                margin-left: 500px;
            }
        }
        &--paragraph2 {
            margin: auto;
            width: 300px;
            font-family: $Font-secundary;
            font-size: 20px;
            color: white;
            padding-bottom: 20px;
            @media all and (min-width: 768px) {
                width: 400px;
            }
            @media all and (min-width: 1024px) {
                margin-left: 500px;
            }
        }
        &--photo1 {
            filter: grayscale(100%) contrast(120%);
            margin-top: 20px;
            margin-bottom: 10px;
            width: 70px;
            @media all and (min-width: 768px) {
                transform: translate(10px, 20px);
                width: 120px;
            }
            @media all and (min-width: 1024px) {
                transform: translate(300px, 100px);
                width: 130px;
            }
        }
        &--photo2 {
            filter: grayscale(100%) contrast(120%);
            transform: translate(-10px, -20px);
            width: 70px;
            @media all and (min-width: 768px) {
                transform: translate(-10px, -20px);
                width: 120px;
            }
            @media all and (min-width: 1024px) {
                transform: translate(70px, 250px);
                width: 170px;
            }
        }
        &--photo3 {
            filter: grayscale(100%) contrast(120%);
            margin-left: 70%;
            width: 90px;
            padding-bottom: 40px;
            @media all and (min-width: 768px) {
                margin-left: 80%;
                width: 100px;
            }
            @media all and (min-width: 1024px) {
                margin-left: 70%;
                width: 150px;
            }
        }
    }
}

.reviews {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    @media all and (min-width: 768px) {
        padding-bottom: 10px;
    }
    @media all and (min-width: 1024px) {
        padding-bottom: 20px;
    }
    &__pedro {
        font-family: $Font-secundary;
        &--paragraph {
            width: 300px;
            margin-bottom: 10px;
            @media all and (min-width: 768px) {
                width: 400px;
            }
            @media all and (min-width: 1024px) {}
        }
    }
    &__pedro-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &--img {
            filter: grayscale(100%) contrast(120%);
            width: 30px;
            margin-right: 10px;
        }
        &--name {
            margin-top: 4px;
        }
    }
}

.contact {
    /*   margin: 20px; */
    font-family: $Font-secundary;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    @media all and (min-width: 768px) {
        margin-top: 100px;
    }
    @media all and (min-width: 1024px) {}
    &__mail {
        margin: auto;
        font-size: 20px;
        @media all and (min-width: 768px) {
            font-size: 45px;
        }
        @media all and (min-width: 1024px) {}
    }
    &__container-icons {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: flex-end;
        &--icons {
            color: white;
            transition: color .2s;
            margin-top: 20px;
            &:hover {
                color: rgb(37, 37, 37);
            }
        }
        &--behance {
            color: white;
        }
        &--github {
            color: white;
        }
        &--linkedin {
            color: white;
        }
        &--twitter {
            color: white;
        }
    }
}

.underlined2 {
    color: white;
    flex: 1;
    line-height: 1.2;
    text-decoration: none;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s;
    &:hover {
        background-size: 100% 100%;
    }
    &--offset {
        background-position: 0 0.2em;
        //didn't find another solution than mask the underline shape by a box shadow with the same color than the bg
        box-shadow: inset 0 -.5em 0 0 $Borders;
    }
}