@import './core/variables.scss';
@import './core/reset.scss';
.link {
    text-decoration: none;
}

.landing {
    display: flex;
    flex-direction: column;
    align-content: center;
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        &--title {
            color: $Borders;
            font-family: $Font-principal;
            font-size: 20px;
            margin-bottom: 10px;
            transform: translateY(10px);
            @media all and (min-width: 768px) {
                font-size: 25px;
            }
            @media all and (min-width: 1200px) {
                font-size: 30px;
            }
        }
        &--subtitle {
            color: $Borders;
            font-size: 25px;
            font-family: $Font-secundary;
            transform: translateY(10px);
            @media all and (min-width: 768px) {
                font-size: 30px;
            }
            @media all and (min-width: 1200px) {
                font-size: 35px;
            }
        }
    }
    &__knowledge {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media all and (min-width: 1200px) {
            flex-direction: row;
        }
        &--ux {
            padding: 10px;
            background-color: #ffffff;
            font-size: 20px;
            color: $Borders;
            margin-bottom: 10px;
            font-family: $Font-secundary;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            @media all and (min-width: 768px) {
                font-size: 25px;
            }
            @media all and (min-width: 1200px) {
                margin-right: 120px;
                margin-bottom: 0px;
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                &:hover {
                    animation-name: example;
                    animation-duration: 0.25s;
                    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                }
            }
        }
        &--front {
            padding: 10px;
            background-color: #ffffff;
            font-size: 20px;
            color: $Borders;
            font-family: $Font-secundary;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            @media all and (min-width: 768px) {
                font-size: 25px;
            }
            @media all and (min-width: 1200px) {
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                &:hover {
                    animation-name: example;
                    animation-duration: 0.25s;
                    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                }
            }
        }
    }
}

.background__dino {
    position: relative;
    overflow: hidden;
    height: 330px;
    &--gif {
        height: 200px;
        position: absolute;
        transform: translate(100px, -230px);
        @media all and (min-width: 768px) {
            transform: translate(340px, -240px);
        }
        @media all and (min-width: 1200px) {
            transform: translate(550px, -240px);
        }
    }
}

.background__dino img {
    height: 100%;
    position: absolute;
    margin: auto;
    -webkit-transition: all 1s ease-out;
    transition: all 2s ease-out;
}

.background__dino:hover img,
.background__dino.hover img {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
}