@import './core/variables.scss';
@import './core/reset.scss';
.ux {
    background: $Background-color;
    width: 100%;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    @media all and (min-width: 768px) {
        background: $Background-color no-repeat center / cover fixed;
        height: 100vh;
    }
}

.ux-header {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    margin-left: 22px;
    &__landing {
        color: $Borders;
        font-family: $Font-secundary;
        padding: 20px;
    }
    &__ux {
        color: white;
        font-family: $Font-secundary;
        padding: 20px;
    }
    &__front {
        color: $Borders;
        font-family: $Font-secundary;
        padding: 20px;
    }
    &__about {
        color: $Borders;
        font-family: $Font-secundary;
        padding: 20px;
    }
}

.ux-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
        margin-top: 50px;
    }
    @media all and (min-width: 1024px) {
        margin-top: 100px;
        flex-direction: row;
    }
    &__1 {
        box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, .2);
        transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
        margin: 30px;
        &--image {
            height: 213px;
            width: 190;
            margin: 10px;
        }
        &--gif {
            position: absolute;
            height: 130px;
            transform: translate(-194px, 90px);
        }
        &:hover {
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
            margin-top: 0;
        }
    }
    &__2 {
        box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, .2);
        transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
        margin: 30px;
        &--image {
            height: 213px;
            width: 190;
            margin: 10px;
        }
        &:hover {
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
            margin-top: 0;
        }
    }
    &__3 {
        box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, .2);
        transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
        margin: 30px;
        &--image {
            height: 213px;
            width: 190;
            margin: 10px;
        }
        &--gif {
            position: absolute;
            height: 125px;
            transform: translate(-265px, 90px);
        }
        &:hover {
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
            margin-top: 0;
        }
    }
}